<div id="centerDiv">
<ul class="centerUL">
    <li><a href="https://twitter.com/csecnith/" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="https://www.facebook.com/csec.nith/" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
    <li><a href="https://plus.google.com/104484102243545712040/" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
    <li><a href="https://github.com/CSEC-NITH/" class="icon circle fa-github"><span class="label">Github</span></a></li>
    <li><a href="#" class="icon circle fa-dribbble"><span class="label">Dribbble</span></a></li>
    <ul class="Copyright">
       <li>Copyright &copy; 2018 CSEC-NITH</li>
    </ul>
    <li></li>
</ul>
</div>
</html>