<!DOCTYPE HTML>
<html>
    <head>
        <link rel="icon" href="/images/image1.png">
        <title>CSEC</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/css/main.css" />
        <noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
    </head>
