<nav id="nav">
    <ul>
        <li class="mobile"><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/events">Events</a></li>
        <li class="submenu opener">
            <a href="/team">Team</a>
            <ul class="">
                <li><a href="team#section1">Faculty</a></li>
                <li><a href="team#section2">Team Leaders</a></li>
                <li><a href="team#section3">Super Final Year</a></li>
                <li><a href="team#section4">Final Year</a></li>
                <li><a href="team#section5">Third Year</a></li>
                <li><a href="team#section6">Second Year</a></li>
            </ul>
        </li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>