<nav id="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/team">Team</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>