<% include partials/header.ejs %>

	<body class="no-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><img src="/images/image1.png" title="CSEC" alt="csec-logo">&nbsp;
					&nbsp;<a href="/">CSEC <span>NITH</span></a></h1>
					<% include partials/navbar%>
				</header>

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon fa-mobile"></span>
						<h2><strong>Our Team</strong></h2>
						<p>Our team comprises of a bunch of hardworking computer geeks.</p>
					</header>

 
					<!-- Faculty section -->

					<section class="wrapper style3 container special">
							
							<header class="major">
								<h2><strong>Faculty</h2>
							</header>
							
							<div class="row">
								<div class="col-12 col-12-narrower">
									<section>
										<div class="prof">
											 <img  class="profile" src="images/profilepics/noonegirl.png" alt="" />
										</div>
										<header>
											<h3 class="name">Cercie Lannister</h3>
											<p class="post">Faculty Coordinator</p>
										</header>
									</section>
								</div>
							</div>
					</section>



				    <!-- Team Heads -->

					<section class="wrapper style3 container special">
							
						<header class="major">
							<h2><strong>Team Leaders</strong></h2>
						</header>
						
						<div class="row">
							<div class="col-6 col-12-narrower">
								<section>
									<div class="prof">
     									<img  class="profile" src="images/profilepics/vishal_choudhary_2015.JPG" alt="" />
									</div>
									<header>
										<h3 class="name">Vishal Choudhary</h3>
										<p class="post">President</p>
									</header>
								</section>
							</div>
							<div class="col-6 col-12-narrower">
								<section>
									<div class="prof">
											<img class="profile" src="images/profilepics/shaharyar_shamshi.jpg" alt="" />
									</div>
									<header>
										<h3 class="name">Shaharyar Shamshi</h3>
										<p class="post">Vice President</p>
									</header>
								</section>
							</div>
						</div>
					</section>


					<!-- Mentors -->

					<section class="wrapper style3 container special">
							
						<header class="major">
							<h2><strong>Super Final Year</strong></h2>
						</header>
						
						<div class="row">
							<div class="col-6 col-12-narrower">
								<section>
									<div class="prof">
											<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
									</div>
									<header>
										<h3 class="name">Param Singh</h3>
										<p class="post">Mentor</p>
									</header>
								</section>
							</div>
							<div class="col-6 col-12-narrower">
								<section>
									<div class="prof">
											<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
									</div>
									<header>
										<h3 class="name">Sukhbir Singh</h3>
										<p class="post">Mentor</p>
									</header>
								</section>
							</div>
							
						</div>
					</section>


					<!-- Final Year -->

					<section class="wrapper style3 container special">
							
							<header class="major">
								<h2><strong>Final Year</strong></h2>
							</header>
							
							<div class="row">
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Supervisor</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Supervisor</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Supervisor</p>
										</header>
									</section>
								</div>
							</div>

							<div class="row">
									<div class="col-4 col-12-narrower">
										<section>
											<div class="prof">
													<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
											</div>
											<header>
												<h3 class="name">Jon Snow</h3>
												<p class="post">Supervisor</p>
											</header>
										</section>
									</div>
									<div class="col-4 col-12-narrower">
										<section>
											<div class="prof">
													<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
											</div>
											<header>
												<h3 class="name">Jon Snow</h3>
												<p class="post">Supervisor</p>
											</header>
										</section>
									</div>
									<div class="col-4 col-12-narrower">
										<section>
											<div class="prof">
													<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
											</div>
											<header>
												<h3 class="name">Jon Snow</h3>
												<p class="post">Supervisor</p>
											</header>
										</section>
									</div>
								</div>

								<div class="row">
										<div class="col-4 col-12-narrower">
											<section>
												<div class="prof">
														<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
												</div>
												<header>
													<h3 class="name">Jon Snow</h3>
													<p class="post">Supervisor</p>
												</header>
											</section>
										</div>
										<div class="col-4 col-12-narrower">
											<section>
												<div class="prof">
														<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
												</div>
												<header>
													<h3 class="name">Jon Snow</h3>
													<p class="post">Supervisor</p>
												</header>
											</section>
										</div>
										<div class="col-4 col-12-narrower">
											<section>
												<div class="prof">
														<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
												</div>
												<header>
													<h3 class="name">Jon Snow</h3>
													<p class="post">Supervisor</p>
												</header>
											</section>
										</div>
									</div>
						</section>



						<!-- Third year -->
						
						<section class="wrapper style3 container special">
							
							<header class="major">
								<h2><strong>Third Year</strong></h2>
							</header>
							
							<div class="row">
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Coordinator</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Coordinator</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Coordinator</p>
										</header>
									</section>
								</div>
							</div>

							<div class="row">
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Coordinator</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Coordinator</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Coordinator</p>
										</header>
									</section>
								</div>
							</div>

						    <div class="row">
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Coordinator</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Coordinator</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Coordinator</p>
										</header>
									</section>
								</div>
							</div>

							<div class="row">
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Coordinator</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Coordinator</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Coordinator</p>
										</header>
									</section>
								</div>
							</div>

							<div class="row">
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Coordinator</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Coordinator</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Coordinator</p>
										</header>
									</section>
								</div>
							</div>
						</section>
						


						<!-- Second Year -->

						<section class="wrapper style3 container special">
							
							<header class="major">
								<h2><strong>Second Year</strong></h2>
							</header>
							
							<div class="row">
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
							</div>

							<div class="row">
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
							</div>


						    <div class="row">
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
							</div>


							<div class="row">
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
							</div>

					    	<div class="row">
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
							</div>


						    <div class="row">
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jon Snow</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
							</div>
						</section>




				</article>
		</div>

						<!-- <div class="row">
							<div class="col-6 col-12-narrower">
								<section>
									<div class="row box">
										<div class="col-6 profpic">
											<div>
    											<img src="images/profilepics/vishal_choudhary_2015.JPG" alt="" />
											    <div class="profOverlay">
												</div>
											</div>
										</div>
										<div class="col-3 skills">
											<ul>
												<li><img src="images/logos/javascript.jpeg" alt=""></li>
												<li><img src="images/logos/c++.png" alt=""></li>
												<li><img src="images/logos/python.png" alt=""></li>
											</ul> 
										</div>
										
										<div class="col-3 contributions">
											<ul>
												<li>Blog</li>
												<li>Student Resume Management System</li>
												<li>Ball and Bridge</li>
											</ul>
										</div>
										<div class="text">
											<h3 class="name">Jon Snow</h3>
											<p class="post">President</p>
										</div>
									</div>
								</section>
							</div>
							<div class="col-6 col-12-narrower">
								<section>
									<div class="row box">
										<div class="col-6 profpic">
											<div>
												<img src="images/profile4.jpeg" alt="" />
												<div class="profOverlay">
												</div>
											</div>
										</div>
										<div class="col-3 skills">
											<ul>
												<li><img src="images/logos/javascript.jpeg" alt=""></li>
												<li><img src="images/logos/c++.png" alt=""></li>
												<li><img src="images/logos/python.png" alt=""></li>
											</ul> 
										</div>
										
										<div class="col-3 contributions">
											<ul>
												<li>Blog</li>
												<li>Student Resume Management System</li>
												<li>Ball and Bridge</li>
											</ul>
										</div>
										<div class="text">
											<h3 class="name">Jaime Lannister</h3>
											<p class="post">Vice President</p>
										</div>
									</div>
								</section>
							</div>	
						</div> -->
				

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.dropotron.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/jquery.scrollgress.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
<!-- </html> -->
<% include partials/footer %>
