<% include partials/header.ejs %>

	<body class="no-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><img src="/images/image1.png" title="CSEC" alt="csec-logo">&nbsp;
					&nbsp;<a href="/">CSEC <span>NITH</span></a></h1>
					<% include partials/navbar%>
				</header>

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon fa-mobile"></span>
						<h2><strong>Our Team</strong></h2>
						<p>Our team comprises of a bunch of hardworking computer geeks.</p>
					</header>

 
					<!-- Faculty section -->

					<section class="wrapper style3 container special">
							
							<header class="major">
								<h2><strong>Faculty</h2>
							</header>
							
							<div class="row">
								<div class="col-12 col-12-narrower">
									<section>
										<div class="prof">
											 <img  class="profile" src="images/profilepics/noonegirl.png" alt="" />
										</div>
										<header>
											<h3 class="name">Cercie Lannister</h3>
											<p class="post">Faculty Coordinator</p>
										</header>
									</section>
								</div>
							</div>
					</section>



				    <!-- Team Heads -->

					<section class="wrapper style3 container special">
							
						<header class="major">
							<h2><strong>Team Leaders</strong></h2>
						</header>
						
						<div class="row">
							<div class="col-6 col-12-narrower">
								<section>
									<div class="prof">
     									<img  class="profile" src="images/profilepics/vishal_choudhary.jpg" alt="" />
									</div>
									<header>
										<h3 class="name">Vishal Choudhary</h3>
										<p class="post">President</p>
									</header>
								</section>
							</div>
							<div class="col-6 col-12-narrower">
								<section>
									<div class="prof">
											<img class="profile" src="images/profilepics/shaharyar_shamshi.jpg" alt="" />
									</div>
									<header>
										<h3 class="name">Shaharyar Shamshi</h3>
										<p class="post">Vice President</p>
									</header>
								</section>
							</div>
						</div>
					</section>


					<!-- Mentors -->

					<section class="wrapper style3 container special">
							
						<header class="major">
							<h2><strong>Super Final Year</strong></h2>
						</header>
						
						<div class="row">
							<div class="col-6 col-12-narrower">
								<section>
									<div class="prof">
											<img  class="profile" src="images/profilepics/param_singh.jpg" alt="" />
									</div>
									<header>
										<h3 class="name">Param Singh</h3>
										<p class="post">Mentor</p>
									</header>
								</section>
							</div>
							<div class="col-6 col-12-narrower">
								<section>
									<div class="prof">
											<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
									</div>
									<header>
										<h3 class="name">Sukhbir Singh</h3>
										<p class="post">Mentor</p>
									</header>
								</section>
							</div>
							
						</div>
					</section>


					<!-- Final Year -->

					<section class="wrapper style3 container special">
							
							<header class="major">
								<h2><strong>Final Year</strong></h2>
							</header>
							
							<div class="row">
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/prakriti_gupta.jpg" alt="" />
										</div>
										<header>
											<h3 class="name">Prakriti Gupta</h3>
											<p class="post">Supervisor</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/sourav_sahoo.jpg" alt="" />
										</div>
										<header>
											<h3 class="name">Sourav Saahoo</h3>
											<p class="post">Supervisor</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nimit_bhardwaj.jpg" alt="" />
										</div>
										<header>
											<h3 class="name">Nimit Bhardwaj</h3>
											<p class="post">Supervisor</p>
										</header>
									</section>
								</div>
							</div>

							<div class="row">
									<div class="col-4 col-12-narrower">
										<section>
											<div class="prof">
													<img  class="profile" src="images/profilepics/sunidhi.jpg" alt="" />
											</div>
											<header>
												<h3 class="name">Sunidhi</h3>
												<p class="post">Supervisor</p>
											</header>
										</section>
									</div>
									<div class="col-4 col-12-narrower">
										<section>
											<div class="prof">
													<img  class="profile" src="images/profilepics/noonegirl.png" alt="" />
											</div>
											<header>
												<h3 class="name">Rashi</h3>
												<p class="post">Supervisor</p>
											</header>
										</section>
									</div>
									<div class="col-4 col-12-narrower">
										<section>
											<div class="prof">
													<img  class="profile" src="images/profilepics/noonegirl.png" alt="" />
											</div>
											<header>
												<h3 class="name">Anishka Gupta</h3>
												<p class="post">Supervisor</p>
											</header>
										</section>
									</div>
								</div>

								<div class="row">
										<div class="col-4 col-12-narrower">
											<section>
												<div class="prof">
														<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
												</div>
												<header>
													<h3 class="name">Vishal Bhardwaj</h3>
													<p class="post">Supervisor</p>
												</header>
											</section>
										</div>
										<div class="col-4 col-12-narrower">
											<section>
												<div class="prof">
														<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
												</div>
												<header>
													<h3 class="name">B Jatin Rao</h3>
													<p class="post">Supervisor</p>
												</header>
											</section>
										</div>
										<div class="col-4 col-12-narrower">
											<section>
												<div class="prof">
														<img  class="profile" src="images/profilepics/anshul_goyal.jpg" alt="" />
												</div>
												<header>
													<h3 class="name">Anshul Goyal</h3>
													<p class="post">Supervisor</p>
												</header>
											</section>
										</div>
									</div>
						</section>



						<!-- Third year -->
						
						<section class="wrapper style3 container special">
							
							<header class="major">
								<h2><strong>Third Year</strong></h2>
							</header>
							
							<div class="row">
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/anubhaw_bhalotia.jpg" alt="" />
										</div>
										<header>
											<h3 class="name">Anubhaw Bhalotia</h3>
											<p class="post">Coordinator</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/anil_chippa.jpg" alt="" />
										</div>
										<header>
											<h3 class="name">Anil Chippa</h3>
											<p class="post">Coordinator</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Kartik Saxena</h3>
											<p class="post">Coordinator</p>
										</header>
									</section>
								</div>
							</div>

							<div class="row">
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Udit Gulati</h3>
											<p class="post">Coordinator</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Ratin Jindal</h3>
											<p class="post">Coordinator</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Archit Mahajan</h3>
											<p class="post">Coordinator</p>
										</header>
									</section>
								</div>
							</div>

						    <div class="row">
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Kartik</h3>
											<p class="post">Coordinator</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/noonegirl.png" alt="" />
										</div>
										<header>
											<h3 class="name">Vanshika Pareek</h3>
											<p class="post">Coordinator</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Saurav Chandra</h3>
											<p class="post">Coordinator</p>
										</header>
									</section>
								</div>
							</div>

							<div class="row">
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Aditya Shukla</h3>
											<p class="post">Coordinator</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Karthik Vedhantam</h3>
											<p class="post">Coordinator</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Bhavya</h3>
											<p class="post">Coordinator</p>
										</header>
									</section>
								</div>
							</div>

							<div class="row">
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/aarushi_sehgal.jpg" alt="" />
										</div>
										<header>
											<h3 class="name">Aarushi Sehgal</h3>
											<p class="post">Coordinator</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/ashutosh_sharma.jpg" alt="" />
										</div>
										<header>
											<h3 class="name">Ashutosh Sharma</h3>
											<p class="post">Coordinator</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/mratyunjay_soni.jpg" alt="" />
										</div>
										<header>
											<h3 class="name">Mratyunjay Soni</h3>
											<p class="post">Coordinator</p>
										</header>
									</section>
								</div>
							</div>
						</section>
						


						<!-- Second Year -->

						<section class="wrapper style3 container special">
							
							<header class="major">
								<h2><strong>Second Year</strong></h2>
							</header>
							
							<div class="row">
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/ayush_jain.jpg" alt="" />
										</div>
										<header>
											<h3 class="name">Ayush Jain</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/dev_tyagi.jpg" alt="" />
										</div>
										<header>
											<h3 class="name">Dev Tyagi</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/vipul_chhabra.jpg" alt="" />
										</div>
										<header>
											<h3 class="name">Vipul Chhabra</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
							</div>

							<div class="row">
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/mahak_kapoor.jpg" alt="" />
										</div>
										<header>
											<h3 class="name">Mahak Kapoor</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/aarsh_sharma.jpg" alt="" />
										</div>
										<header>
											<h3 class="name">Aarsh Sharma</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/ankit_verma.jpg" alt="" />
										</div>
										<header>
											<h3 class="name">Ankit Verma</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
							</div>


						    <div class="row">
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/mayank_dhiman.jpg" alt="" />
										</div>
										<header>
											<h3 class="name">Mayank Dhiman</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/shivam_kapila.jpg" alt="" />
										</div>
										<header>
											<h3 class="name">Shivam Kapila</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/utkarsh_singh.jpg" alt="" />
										</div>
										<header>
											<h3 class="name">Utkarsh Singh</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
							</div>


							<div class="row">
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Abhinav Lamba</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Anmol Gupta</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Lakshay Gupta</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
							</div>

					    	<div class="row">
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Kumar Kartikay</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Rohit</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Rohit Hill</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
							</div>


						    <div class="row">
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/noonegirl.png" alt="" />
										</div>
										<header>
											<h3 class="name">Muskan Mangal</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Chirag Thakur</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/noonegirl.png" alt="" />
										</div>
										<header>
											<h3 class="name">Tanvi Mahajan</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
							</div>
						    <div class="row">
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/noonegirl.png" alt="" />
										</div>
										<header>
											<h3 class="name">Anshita Vishwa</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Jatin Nagpal</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Anant Kumar</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
							</div>
							<div class="row">
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Prateek Bhardwaj</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
								<!-- <div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/nooneboy.png" alt="" />
										</div>
										<header>
											<h3 class="name">Chirag Thakur</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section>
										<div class="prof">
												<img  class="profile" src="images/profilepics/noonegirl.png" alt="" />
										</div>
										<header>
											<h3 class="name">Tanvi Mahajan</h3>
											<p class="post">Executive</p>
										</header>
									</section>
								</div> -->
							</div>							
						</section>




				</article>
		</div>

						<!-- <div class="row">
							<div class="col-6 col-12-narrower">
								<section>
									<div class="row box">
										<div class="col-6 profpic">
											<div>
    											<img src="images/profilepics/vishal_choudhary_2015.JPG" alt="" />
											    <div class="profOverlay">
												</div>
											</div>
										</div>
										<div class="col-3 skills">
											<ul>
												<li><img src="images/logos/javascript.jpeg" alt=""></li>
												<li><img src="images/logos/c++.png" alt=""></li>
												<li><img src="images/logos/python.png" alt=""></li>
											</ul> 
										</div>
										
										<div class="col-3 contributions">
											<ul>
												<li>Blog</li>
												<li>Student Resume Management System</li>
												<li>Ball and Bridge</li>
											</ul>
										</div>
										<div class="text">
											<h3 class="name">Jon Snow</h3>
											<p class="post">President</p>
										</div>
									</div>
								</section>
							</div>
							<div class="col-6 col-12-narrower">
								<section>
									<div class="row box">
										<div class="col-6 profpic">
											<div>
												<img src="images/profile4.jpeg" alt="" />
												<div class="profOverlay">
												</div>
											</div>
										</div>
										<div class="col-3 skills">
											<ul>
												<li><img src="images/logos/javascript.jpeg" alt=""></li>
												<li><img src="images/logos/c++.png" alt=""></li>
												<li><img src="images/logos/python.png" alt=""></li>
											</ul> 
										</div>
										
										<div class="col-3 contributions">
											<ul>
												<li>Blog</li>
												<li>Student Resume Management System</li>
												<li>Ball and Bridge</li>
											</ul>
										</div>
										<div class="text">
											<h3 class="name">Jaime Lannister</h3>
											<p class="post">Vice President</p>
										</div>
									</div>
								</section>
							</div>	
						</div> -->
				

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.dropotron.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/jquery.scrollgress.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
<!-- </html> -->
<% include partials/footer %>
